#parameters


*, ::after, ::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
    background-color: antiquewhite;
}
#alap formazas
header{
	height:20vh;
	width:100vw;
}
main{
	height:80vh;
	width:100vw;
	display:grid;
	grid-template-rows: 1fr 1fr 10fr;
}

a{
	text-decoration: none;
	display:contents;
}
th{
	width:auto;
	vertical-align: auto;
}
table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}
tr:hover{
	opacity:0.7;
	cursor:pointer;
}
thead>tr:hover{
	cursor:auto;
	opacity:1;
}	
.rejtett{
	visibility: hidden;
}
.mutasd{
	visibility:visible;
	
}

th {
	background:  linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(../images/background/table_bg.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(../images/background/table_bg.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

#gombDiv{
	display:grid;
	margin:10% auto;
}


button{
	display: inline-block;
	margin: auto;
	transform: translate(50%,-50%);
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d18640;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0.8rem 1rem 0 rgba(0, 0, 0, 0.24);
}

  button:hover {
    background-color: #e1cee358;
    border-radius:2px;
    box-shadow: 0 0.8rem 1rem 0
        rgba(0, 0, 0, 0.24),
      0 1rem 3.2rem 0 rgba(0, 0, 0, 0.19),white;
	  color:black;
  }
  button:active {
	background-color: #ed1864;
    box-shadow: 0 0.1rem #666;
    
  }
  #betolt,.resetGomb{
	 
	align-self: center;
	width:7rem;
	height:3rem;
	margin: auto;

  }




  
 





  



