

#css-zen-garden {
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 1rem;
  grid-auto-columns: auto-fit;
  background-color:salmon;
}

section{
	height:auto;
  width:100%;
  
  position:relative;


}
// kicsit tulbonyolitottam...:)
.main{
  //@include fadeOutIn;
}


