//@use "../abstracts/abstracts" as a;

footer{
  justify-items:center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   background-color:yellow;
   color:black;
   :nth-child(1){
     grid-column: 1/2;
      #all_menu-3{
    flex-direction: column;
    align-content: center;
    }

}
}

