{
    "env": {
        "browser": true,
        "es2017": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-unused-vars": "warn"
    }
}
